p, span {
  margin: 1em;
}

header {
  background-color: #B8B8AA;
  padding-bottom: 1px;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  padding: 10px 0 0 0;
}

ul > li > a {
  text-align: center;
  background-color: #586F6B;
  display: block;
  height: 2em;
  line-height: 2em;
  border-radius: 5px;
  color: white;
  width: 100px;
  margin: 15px auto;
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
  height: 50px;
  line-height: 50px;
}
